* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'variables';
@import 'classes';

@import 'buttons.scss';
@import 'header.scss';
@import 'forms.scss';

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-size: clamp(.9rem, 5vw, 1.2rem);
  line-height: clamp(1.5rem, 8vw, 1.7rem);
  font-family: var(--titillium);
  padding-top: var(--header-height);
}

#root {
  position: relative;
  width: 100%;
}

// ============================== [ Home page ] ============================== //
.home__wrapper {
  position: relative;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  isolation: isolate;
  padding-block: var(--body-gap);
  padding-inline: calc(var(--body-gap) * 1.5);
  display: flex;
  
  h1 {
    font-family: var(--bungee);
    color: var(--primary);
  }
}

// ============================== [ Common Elements ] ============================== //
small {
  font-size: clamp(.9rem, 4vw, 1.1rem);
  line-height: clamp(1.15rem, 6vw, 1.75rem);
  margin-bottom: var(--elements-common-gap);
}
p {
  font-size: clamp(1rem, 5vw, 1.5rem);
  line-height: clamp(1.5rem, 7vw, 2.25rem);
  margin-bottom: var(--elements-common-gap);
}
h1 {
  font-size: clamp(1.6rem, 15vw, calc(2.5rem + 2vw));
  line-height: clamp(2rem, 17vw, calc(3rem + 2vw));
  margin-bottom: var(--elements-common-gap);
}
h2 {
  font-size: clamp(1.3rem, 13vw, calc(2rem + 2vw));
  line-height: clamp(1.6rem, 15vw, calc(2.5rem + 2vw));
  margin-bottom: var(--elements-common-gap);
}
h3 {
  font-size: clamp(1.1rem, 10vw, calc(1.75rem + 2vw));
  line-height: clamp(1.4rem, 12vw, calc(2.15rem + 2vw));
  margin-bottom: var(--elements-common-gap);
}
h4 {
  font-size: clamp(1.1rem, 10vw, calc(1.3rem + 1.75vw));
  line-height: clamp(1.4rem, 12vw, calc(2rem + 2vw));
  margin-bottom: var(--elements-common-gap);
}
h5 {
  font-size: clamp(1.1rem, 10vw, calc(1.1rem + 1.5vw));
  line-height: clamp(1.4rem, 12vw, calc(1.75rem + 2vw));
  margin-bottom: var(--elements-common-gap);
}
h6 {
  font-size: clamp(1.1rem, 10vw, calc(1rem + 1vw));
  line-height: clamp(1.4rem, 12vw, calc(1.5rem + 1.5vw));
  margin-bottom: var(--elements-common-gap);
}
.body__bg__image {
  width: 100%;
  height: 100%;
  inset: 0;
  position: fixed;
  z-index: -1;
  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: var(--body-bg-color);
    background-image: var(--body-bg-image);
    background-size: cover;
    background-blend-mode: luminosity;
    z-index: -1;
    opacity: .3;
  }
  @media (prefers-color-scheme: light) {
    &::after { opacity: .2; }
  }
}

hr {
  border: 1px solid transparent;
  border-bottom-color: var(--border-color);
  display: block;
  margin-block: 1rem;
  outline: 0;
  width: 100%;
}

// content container
.content {
  &__container {
    position: relative;
    width: 100%;
    max-width: calc(600px + 5vw);
    min-height: calc(calc(100vh - var(--header-height)) - calc(var(--body-gap) * 2));
    align-items: center;
    display: flex;
    .content {
      width: 100%;
      position: relative;
    }
  }
}


.dark__light__mode__button {
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  border-radius: var(--border-radius);
  color: var(--light);
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 130%;
  transition: var(--transition);
  &:hover {
    background-color: var(--primary);
    color: var(--white);
  }
}

